@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0, 0%, 100%;
    --color-foreground: 0, 0%, 0%;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 251, 100%, 5%;
      --color-foreground: 0, 0%, 100%;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}